html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid teal; */
}
#boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#boxes > div {
  margin: 10px;
  border-radius: 10px;
}
